@charset "UTF-8"

/* By Ricardo Souza */

	.menu-opcoes ul	{
	  font-size:	15px;
    }
	
	.menu-opcoes a {				
	  color:	#003366;
    } 
  
  .menu-opcoes	ul	li {			
	  display: inline;			
	  margin-left: 20px;
    }
	
	.Principal {			
	  margin:	0 auto;			
	  width: 970px;
	  }

	header {			
	  position:	relative;
    }

	.menu-opcoes {			
		position:	absolute;			
		bottom:	0;			
		right:	0;
    } 
