@charset "UTF-8";

/**Esse é apenas um arquivo teste, todas as informações podem ser utilizadas como querer, visto que contém apenas informações
diferentes. O intuito desse arquivo é apenas de estudo para um novato em CSS. Dessa maneira, dispensa qualquer licença*//

blockquote {
  background: #333  border-radius: 10px; 
  border: 0px; 
  border-left: 10px solid #9900ff;
  margin: 1px;
  font-size: 13px;
  line-height: 19px;
  padding: 15px;
  padding-left: 0px;
  }
  
dl.codebox {
  background: #111;
  border: 0px; 
  border-left: 10px solid #9900ff;
  margin: 1px;
  font-size: 11px;
  padding: 10px;
  border-radius: 10px;
  }
